my-app {

  // Extra small devices (portrait phones, less than 576px)
  @media (max-width: 575px) { 
    //TODO
  }

  // Small devices (landscape phones, 576px and up)
  @media (min-width: 576px) and (max-width: 767px) { 
  //TODO
  }

  // Medium devices (tablets, 768px and up)
  @media (min-width: 768px) and (max-width: 991px) { 
    //TODO
  }

  // Large devices (desktops, 992px and up)
  @media (min-width: 992px) and (max-width: 1199px) {
    //TODO
  }

  // Extra large devices (large desktops, 1200px and up)
  @media (min-width: 1200px) {
    //TODO
  }

  h1 {
    font-size: 1.4rem;
    font-weight: 500;
    color: var(--app-primary-color);
    padding: 0 12px;
  }

  .red {
    background-color: red;
  }

  .blue {
    background-color: blue;
  }

  .btn {
    float:right;
  }

  .intro-body {
    height: 90vh;
    display: flex;
    align-items: center;
  }

  .intro-header-text {
    font-family: Quicksand;
    font-size: 70px;
    line-height: 70px;
    font-weight: 700;
    color: white;
  }

  .intro-text {
    font-family: Quicksand;
    font-size: 24px;
    color: white;
  }

  .second-body {
    background-color: white;
    height: 100vh;
  }

  p.bio {
    text-align: justify;
  }

  h1.bio {
    font-size: 40px;
    line-height: 50px;
    text-align: left;
    padding: 0;
  }

  h2.bio {
    font-size: 16px;
    line-height: 26px;
    color: #bfbfbf;
    text-align: left;
  }

  .second-body-img {
    max-height: 750px;
    background-image: url("assets/img/jedi-center.png");
    background-position: center center;
    object-fit: contain;
    display: inline-block;
  }

  .main-background {
    overflow-x: hidden;
    background-image: url("/assets/img/jedi-left.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-color: #ffffff;
    height: 110vh;
  }
}