app-events {
    h1 {
        font-size: 30px;
        font-weight: 600;
        line-height: 40px;
        text-align: left;
        padding: 0;
    }

    h2 {
        font-size: 16px;
        line-height: 26px;
        color: #bfbfbf;
        text-align: left;
    }
}
